@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(255, 193, 164, 0.767);
}

.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 70vh;
    min-width: 600px;
    max-height: 300px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
    margin-bottom: 30px;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('portada.jpg');
    background-size: cover;
    z-index: -1;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    /*background-color: white;*/
}

.nav__link {
    margin-left: auto;
    padding: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav-link-footer {
    display: flex;
    list-style-type: none;
}


.hero_title {
    font-size: 1.5rem;
    text-align: center;
}

.hero__paragraph {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    text-align: justify;
    margin-bottom: 150px;
}

.slider-frame {
    overflow: hidden;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;

}

.grid-item p {
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    line-height: 1.4;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .7);
    max-width: 960px;
    margin: 0 auto;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
}

.grid-item {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    border-radius: 8px;
    background-color: #361f1f;
    cursor: pointer;
    backface-visibility: hidden;
    position: relative;
    transform-origin: left bottom;
    padding: 7px;
    margin: 30px;
}

.list-container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.list-container .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.list-container {
    width: 90%;
    box-shadow: 12px 12PX 12PX 12px rgba(0, 0, 0, 0.3);
    margin: auto;
    border-radius: 10px;
    max-width: 700px;
    display: grid;
    place-items: center;
    padding: 20px;
}

.list-container .titulos {
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.list-container .subtitulos {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;

}

.list-container .centrado {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 10px;
    
}

.list-container .label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 14px;
    font-size: 1.3em;
    font-family: sans-serif;
}

textarea.form-control {
    resize: vertical;
    font-size: 1.5em;
    font-family: sans-serif;
}

.btn {
    cursor: pointer;
    background-color: #361f1f;
    border: 1px solid transparent;
    color: white;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
}

.recetas-x li {
    margin-bottom: 50px;
    padding: 0;
    display: grid;
    grid-column-end: auto;
    text-align: center;
    gap: 2em;
    text-decoration: none;
    color: white;
    color: black;
}


/*////////////////////////*/
/* Segunda parte: Recetas*/
/*///////////////////////*/

.social-icons {
    font-size: 24px;
    /* Tamaño de los íconos */
}

.social-icons i {
    margin-right: 10px;
    /* Espacio entre los íconos */
    color: #2e0606;
    /* Color de los íconos */
}

.hero_re {
    width: 100%;
    height: 10vh;
    position: relative;
    color: rgb(255, 255, 255);

}

.hero_re::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('portada.jpg');
    background-size: cover;
    z-index: -1;
}

.first-image {
    display: flex;
    padding: 25px;
    width: 250px;
    height: 400px;
    /* Alto de la imagen */
    object-fit: cover;
}

.procedimientos{
    padding-left: 20px;
}

.ingredientes {
    font-size: 15px;
    padding-left: 20px;
}

.columns {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: row;
    /* Alinea las columnas en una fila horizontal */
    margin-left: 10px;
    /* Espacio entre la imagen y las columnas */
    width: 850px;
}

.column {
    background-color: #f5f5f5;
    /* Fondo de las columnas */
    padding: 10px;
    margin: 10px;
    width: 450px;
    /* Ancho de cada columna */
}

.procedimiento {
    font-size: 14.5px;
}

/*///////////////////////////*/
/*Pagian recetas*/
/*///////////////////////////*/

.recetas-x li{
    margin-bottom: 50px;
    padding: 0;
    display: grid;
    grid-column-end: auto;
    text-align: center;
    gap: 2em;
    text-decoration: none;
    color: white;
    color: black;
}

.buscarreceta {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.search-input {
    width: 400px; 
    height: 15px;
    padding: 3px;
    font-size: 1.1em; 
}

.boton {
    width: 90px;
    height: 30px; 
    font-size: 1em; 
    background-color: #332727;
    border: 1px solid transparent;
    color: white;
}

/*///////////////////////////*/
/*Sobre Nosotross*/
/*///////////////////////////*/

.social-icons {
    font-size: 24px;
    /* Tamaño de los íconos */
}

:root {
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #0077b5;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.social-icons ul li a{
    display: block;
    padding: 0 10px;
    background: #fff;
    color: #f5f5f5;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(255, 253, 253, 0.542);
    transform: .2s;
}

.social-icons ul:hover a{
    filter: blur(0.5px);
}

.social-icons ul li a:hove{
    transform: translate(3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(244, 243, 243, 0.497);
    filter: none;
}

.social-icons ul li .facebook:hover{
    background: var(--facebook);
}

.social-icons ul li .instagram:hover{
    background: var(--instagram);
}

.social-icons ul li .twitter:hover{
    background: var(--twitter);
}

.about-us{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 193, 164, 0.767);
    /* Fondo de las columnas */
    padding: 10px;
    margin: 10px;
    width: 600px;   
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
}

footer{
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.footer-names {
    text-align: center;
    background-color: #b39797;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.footer-names a{
    text-decoration: none;
    color: black;
}

.footer-names .integrantes-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px 0 50px;
    justify-content: space-evenly;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    
}

.banderas img{
    width: 100px;
}