@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-width: 600px;
    max-height: 400px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
    /*background-color: lightyellow;*/
    margin-bottom: 30px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('Imagenes/portada.jpg');
    background-size: cover;
    clip-path: polygon(20 0, 100% 0, 100% 48%, 0 48%);
    z-index: -1;
}

.nav{
    --pading-container:0;
    height: 100%;
    display: flex;
    align-items: center;
    /*background-color: white;*/
}

.nav__title{
    font-weight: 300;
}

.nav__items{
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    color: white;
    text-decoration: none;
}

.nav__items{
    list-style: none;
}

.nav__close{
    display: var(--show, none);

}

.nav__img{
    display: block;
    width: 30px;
}

.hero_title{
    font-size: 1.5rem;
    text-align: center;
    flex-wrap: wrap;
}

.hero__paragraph{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    text-align: justify;
    flex-wrap: wrap;
}

.part_inirecets{
    color: black;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.slider-frame{
    margin: 0;
    padding: 0;
    font-family: lato;
    width: 450px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}


.footer{
    background-color: rgb(6, 9, 58);
}

.footer-title{
    font-weight: 300;
    font-size: 2ml;
    color: white;
    text-align: center;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid white;
    padding-bottom: 20px;
}

.nav-link-footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    flex-wrap: wrap;
}

.footer-container-sec{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.container-center{
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    text-align: justify;
    flex-wrap: wrap;
}

.recetas-x li{
    margin-bottom: 50px;
    padding: 0;
    display: grid;
    grid-column-end: auto;
    text-align: center;
    gap: 2em;
    text-decoration: none;
    color: white;
    color: black;
}

/*////////////////////////*/
/* Segunda parte: Recetas*/
/*///////////////////////*/

.nav-recet-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    background-color: black;
}

.recet{
    width: 100%;
    height: 100vh;
    min-width: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.nav-links-receta{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    color: black;
    text-decoration: none;
}

.images-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
    color: black;
    margin-bottom: 90px;
}